@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@300&family=Jura&family=Lobster&display=swap");

.main-home {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/src/assets/services.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  position: fixed;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: -1;
}

@media only screen and (min-width: 992px) {
  .main-home {
    overflow: hidden;
  }
}

.home-opening {
  display: flex;
  flex-direction: column;
  height: 50em;
  padding-top: 20em;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  padding-left: 2em;
}

.first-sentence {
  color: lightgrey;

  font-family: "Cormorant", serif;
  font-weight: 600;
  font-size: 1.5em;
}

.second-sentence {
  color: lightgrey;

  font-family: "Cormorant", serif;
  font-weight: 800;
  font-size: 3em;
}

.third-sentence {
  color: lightgrey;
  font-family: "Cormorant", serif;
  font-weight: bold;
  font-size: 1.2em;
}

.location-btn {
  margin-right: 1em;
  padding: 0.5em;
}

.book-btn {
  padding: 0.5em;
}
